<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	
	
	
		
	<div class="container">
		<div class="table-responsive">
			<table class="table table-hover">
			
			<p>Notificaciones registradas en el sistema</p>
			    <p>Las incidencias de temperatura no podrán superar los 50 grados de temperatura</p>
				<p>Las incidencias de indundación serán un booleano (1 o 0) indicando si hay indundación completa o no</p>
				<p>Los seismos alertados superan los 100.0 de magnitud en la escala de Ritcher</p>
				<hr></hr>
				<div style="text-align: center;">
				<img src="/img/alertaDanger.gif" border=0> 
				</div>
				
				</span>
				<thead>
					<tr>
						<th>Nombre Incidencia</th>
						<th>Tipo</th>
						<th>Valor</th>
					
					</tr>
				</thead>
				<tbody id="cuerpoTabla">
					<tr th:each="notificacion : ${notificaciones}">
						<td th:text="${notificacion.name}" ></td>
						<td th:text="${notificacion.type}" ></td>
						<td th:text="${notificacion.valor}"></td>
						
					</tr>
					
					
				</tbody>
			</table>
		</div>		
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>